node_modules

.varlet
.idea
.vscode
.history
*.log
.DS_Store
*.vsix
package-lock.json

packages/eyelet-icons/dist

packages/eyelet-ui/site
packages/eyelet-ui/lib
packages/eyelet-ui/es
packages/eyelet-ui/umd
packages/eyelet-ui/coverage
packages/eyelet-ui/highlight

.eslintcache
.stylelintcache
